/* .order {
  box-shadow: 0px 2px 8px gray;
} */

.order > p > small > span {
  font-weight: 600;
}

.order > hr {
  box-shadow: 0px 3px 1px white;
}

.order-Time {
  display: flex;
}

.order-Time > p {
  font-size: 20px;
  margin: auto 10px;
}
